// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"

#include <dt-bindings/clock/sun20i-d1-ccu.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/reset/sun20i-d1-ccu.h>

/ {
	model = "T113i MiniEVM";
	compatible = "allwinner,sun8i-t113s";

	aliases {
		serial0 = &uart0;
		ethernet0 = &emac;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

        c906_fw: c906_fw@41200000 {
            reg = <0x41200000 0x002AC000>;
            no-map;
        };

        vdev0vring0: vdev0vring0@414ac000 {
            reg = <0x414ac000 0x00002000>;
            no-map;
        };

        vdev0vring1: vdev0vring1@414ae000 {
            reg = <0x414ae000 0x00002000>;
            no-map;
        };

        vdev0buffer: vdev0buffer@414b0000 {
            reg = <0x414b0000 0x00040000>;
            no-map;
        };

        c906_guard: c906_guard@414f0000 {
            reg = <0x414f0000 0x00010000>;
            no-map;
        };

        dsp_vring0: dsp-vring0@41100000 {
            reg = <0x41100000 0x00002000>;
            no-map;
        };

        dsp_vring1: dsp-vring1@41102000 {
            reg = <0x41102000 0x00002000>;
            no-map;
        };

        dsp_vdevbuf: dsp-vdevbuf@41104000 {
            reg = <0x41104000 0x000fc000>;
            no-map;
        };

        dsp_sram_reserved: dsp-sram@400000 {
            /* DSP IRAM/TCM window */
            reg = <0x00400000 0x00100000>;
            no-map;
        };

        dsp_ddr_reserved: dsp-ddr@4fc00000 {
            reg = <0x4fc00000 0x00400000>;
            no-map;
        };
	};

    leds {
        compatible = "gpio-leds";

        sys_led {
            label = "green:status";
            gpios = <&pio 6 11 GPIO_ACTIVE_HIGH>; /* PG11 */
            linux,default-trigger = "none";
        };

        cpu_led0 {
            label = "green:cpu_led0";
            gpios = <&pio 2 0 GPIO_ACTIVE_HIGH>; /* PC0 */
            linux,default-trigger = "heartbeat";
        };

        cpu_led1 {
            label = "green:cpu_led1";
            gpios = <&pio 2 1 GPIO_ACTIVE_HIGH>; /* PC1 */
            linux,default-trigger = "heartbeat";
        };
    };

	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

	reg_avdd2v8: regulator-avdd {
		compatible = "regulator-fixed";
		regulator-name = "avdd2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_3v3>;
	};

    reg_usb0_vbus: regulator-usb0-vbus {
        compatible = "regulator-fixed";
        regulator-name = "usb0-vbus";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        vin-supply = <&reg_vcc5v>;
        regulator-always-on;
    };

    reg_usb1_vbus: regulator-usb1-vbus {
        compatible = "regulator-fixed";
        regulator-name = "usb1-vbus";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        vin-supply = <&reg_vcc5v>;
        gpio = <&pio 1 12 GPIO_ACTIVE_HIGH>;  /* PB12 / USB_DRVVBUS */
        enable-active-high;
    };

    reg_1v8_hdmi: regulator-1v8-hdmi {
        compatible = "regulator-fixed";
        regulator-name = "vdd-1v8-hdmi";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        vin-supply = <&reg_3v3>;
        regulator-always-on;
    };

    hdmi_con: hdmi-connector {
        compatible = "hdmi-connector";
        type = "a";

		// ddc-i2c-bus = <&i2c0>; // 这个引脚也没定义在公共区域!

        port {
            hdmi_con_in: endpoint {
                remote-endpoint = <&lt8912_out>;
            };
        };
    };
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pc-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_avdd2v8>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;

    pinctrl-names = "default";
    pinctrl-0 = <&riscv_jtag_pins &dsp_jtag_pins>;

	uart0_pg_pins: uart0-pg-pins {
		pins = "PG17", "PG18";
		function = "uart0";
	};

	uart2_pb_pins: uart2-pb-pins {
		pins = "PB0", "PB1";
		function = "uart2";
	};

	uart3_pb_pins: uart3-pb-pins {
		pins = "PB6", "PB7";
		function = "uart3";
	};

    rgmii_pg_pins: rgmii-pg-pins {
        pins = "PG0",  "PG1",  "PG2",   /* RXCTL, RXD0, RXD1 */
               "PG3",  "PG4",  "PG5",   /* TXCK, TXD0, TXD1 */
               "PG6",  "PG7",           /* TXD2, TXD3 */
               "PG8",  "PG9",  "PG10",  /* RXD2, RXD3, RXCK */
               "PG12",                  /* TXEN / TXCTRL */
               "PG14", "PG15";          /* MDC, MDIO */
        function = "emac";
	};

    i2c2_pe_pins: i2c2-pe-pins {
        pins = "PE12", "PE13";
        function = "i2c2";
        bias-pull-up;
    };

    riscv_jtag_pins: riscv-jtag-pe-pins {
        pins = "PE4", "PE5", "PE6", "PE7";
        function = "r_jtag";
        bias-pull-up;
    };

    dsp_jtag_pins: dsp-jtag-pe-pins {
        pins = "PE14", "PE15", "PE16", "PE17";
        function = "d_jtag";
        bias-pull-up;
    };
};

&de {
    status = "okay";
};

&tcon_top {
    status = "okay";
};

&mixer0 {
    status = "okay";
};

&tcon_lcd0 {
    status = "okay";
};

/* We only use LCD0+DSI; disable TV TCON1 to avoid unused component errors */
&tcon_tv0 {
    status = "disabled";
};

&dsi {
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&dsi_4lane_pins>;
    status = "okay";

    vcc-dsi-supply = <&reg_avdd2v8>; 

    port {
        #address-cells = <1>;
        #size-cells = <0>;

        /* keep existing endpoint to tcon_lcd0 (from base dtsi) and add DSI -> LT8912 */
        dsi_out: endpoint@1 {
            reg = <1>;
            remote-endpoint = <&lt8912_in>;
        };
    };
};

&cedrus {
	status = "okay";
	iommus = <&iommu 0 1>;
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&wdt {
    status = "okay";
};

&dcxo {
	clock-frequency = <24000000>;
};

&{/soc} {
	msgbox: msgbox@3003000 {
		compatible = "allwinner,sun8iw20-msgbox";
		#mbox-cells = <1>;
		reg = <0x03003000 0x1000>,
		      <0x01701000 0x1000>,
		      <0x0601f000 0x1000>;
		interrupts = <GIC_SPI 0 IRQ_TYPE_LEVEL_HIGH>,
			    <GIC_SPI 123 IRQ_TYPE_LEVEL_HIGH>,
			    <GIC_SPI 130 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&ccu CLK_BUS_MSGBOX0>,<&ccu CLK_BUS_MSGBOX1>,
			 <&ccu CLK_BUS_MSGBOX2>;
		clock-names = "msgbox0","msgbox1",
			      "msgbox2";
		resets = <&ccu RST_BUS_MSGBOX0>,<&ccu RST_BUS_MSGBOX1>,
			 <&ccu RST_BUS_MSGBOX2>;
		reset-names = "rst0","rst1",
			      "rst2";
		local_id = <0>;
		status = "okay";
	};

    c906: rproc@6010000 {
        compatible = "allwinner,c906-rproc";
        reg = <0x06010000 0x1000>;
        reg-names = "c906-cfg";

        clocks = <&ccu CLK_RISCV>,
                 <&ccu CLK_MBUS_RISCV>,
                 <&ccu CLK_BUS_RISCV_CFG>,
                 <&ccu CLK_RISCV_AXI>,
                 <&ccu CLK_PLL_PERIPH0_800M>;
        clock-names = "core", "bus", "cfg", "axi", "pll";

        assigned-clocks = <&ccu CLK_RISCV>;
        assigned-clock-parents = <&ccu CLK_PLL_PERIPH0_800M>;
        assigned-clock-rates = <800000000>;

		resets = <&ccu RST_BUS_RISCV_CFG>;
		reset-names = "cfg";

		memory-region = <&c906_fw &vdev0vring0 &vdev0vring1 &vdev0buffer>;
		firmware-name = "c906-fw.elf";
		mboxes = <&msgbox 4>;
		mbox-names = "arm-kick";
		status = "okay";
	};

    dsp: rproc@1700000 {
        compatible = "allwinner,hifi4-rproc";
        reg = <0x01700000 0x1000>;
        reg-names = "dsp-cfg";

        clocks = <&ccu CLK_DSP>,
                <&ccu CLK_BUS_DSP_CFG>;
        clock-names = "core", "bus";

        assigned-clocks = <&ccu CLK_DSP>;
        assigned-clock-parents = <&ccu CLK_PLL_PERIPH0_2X>;
        assigned-clock-rates = <600000000>;

        resets = <&ccu RST_DSP>,
                <&ccu RST_BUS_DSP_CFG>,
                <&ccu RST_BUS_DSP_DBG>;
        reset-names = "core", "cfg", "dbg";

        memory-region = <&dsp_sram_reserved &dsp_ddr_reserved &dsp_vring0 &dsp_vring1 &dsp_vdevbuf>;
        firmware-name = "dsp.elf";
        mboxes = <&msgbox 0>;
        mbox-names = "arm-kick";
        status = "okay";
    };
};

&ehci1 {
	status = "okay";
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";

	spi_nand: flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <100000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "spi-nand";
				reg = <0x0 0x08000000>;
			};
		};
	};
};

&ohci1 {
	status = "okay";
};

&emac {
    pinctrl-names = "default";
    pinctrl-0 = <&rgmii_pg_pins>;

    phy-mode = "rgmii";
    phy-handle = <&ext_rgmii_phy>;
    phy-supply = <&reg_3v3>;

    allwinner,tx-delay-ps = <400>;
    allwinner,rx-delay-ps = <1500>;

    status = "okay";
};

&mdio {
    ext_rgmii_phy: ethernet-phy@0 {
        compatible = "ethernet-phy-id4f51.e91b",
                     "ethernet-phy-ieee802.3-c22";
        reg = <0>;

        reset-gpios = <&pio 6 13 GPIO_ACTIVE_LOW>; /* PG13 / ETH_RSTn */
        reset-assert-us = <15000>;
        reset-deassert-us = <80000>;

	    // rx-internal-delay-ps = <0>;
        // tx-internal-delay-ps = <0>;
    };
};


&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pg_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pb_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
    usb0_vbus-supply = <&reg_usb0_vbus>;
    usb1_vbus-supply = <&reg_usb1_vbus>;
    status = "okay";
};

&i2c2 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c2_pe_pins>;
    status = "okay";

    lt8912: hdmi-bridge@48 {
        compatible = "lontium,lt8912b";
        reg = <0x48>;
        reset-gpios = <&pio 4 11 GPIO_ACTIVE_LOW>;
        allwinner,dsi = <&dsi>;

        vdd-supply          = <&reg_1v8_hdmi>;
        vcchdmipll-supply   = <&reg_1v8_hdmi>;
        vcchdmitx-supply    = <&reg_1v8_hdmi>;
        vcclvdspll-supply   = <&reg_1v8_hdmi>;
        vcclvdstx-supply    = <&reg_1v8_hdmi>;
        vccmipirx-supply    = <&reg_1v8_hdmi>;
        vccsysclk-supply    = <&reg_1v8_hdmi>;
        lontium,force-mode  = "720p30";

        ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
                reg = <0>;
                lt8912_in: endpoint {
                    data-lanes = <0 1 2 3>;
                    remote-endpoint = <&dsi_out>;
                };
            };

            port@1 {
                reg = <1>;
                lt8912_out: endpoint {
                    remote-endpoint = <&hdmi_con_in>;
                };
            };
        };
    };
};
